<div class="card no-pad-top sticky-action pad3 zno hide-on-med-and-down">
    <div class="">
        <div class="card-content">
            <div class="row shortRow">
                <div class="col s2">
                    <div class="playerNumber flow-text">{{playerData.jerseyNumber}}</div>
                </div>
                <div class="col s1">
                </div>
                <div class="col s7 pName">
                    <div class="row fnrow shortRow">
                        <div class="firstName flow-text">{{playerData.firstName}}</div>
                    </div>
                    <div class="row lnrow shortRow">
                        <div class="lastName flow-text">{{playerData.lastName}}</div>
                    </div>
                </div>
                <div class="col s2">
                    <div class="row shortRow">
                        <div class="capt flow-text"></div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row shortRow">
                <div class="statRow">
                    <div class="col s6 center-align flow-text">
                        <span>{{playerData.birthCity}}</span>,
                        <span class="truncate">{{playerData.birthCountry}}</span>
                    </div>
                    <div class="col s6 center-align flow-text">
                        <span>{{playerData.height}}</span> -
                        <span>{{playerData.weight}}</span> lb
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="statRow">
                    <div class="col s4 center-align">
                        <strong>Shoots: </strong>
                        <span>{{playerData.handedness.shoots}}</span>
                    </div>
                    <div class="col s4 center-align">
                        <strong>Age: </strong>
                        <span>{{playerData.age}}</span>
                    </div>
                    <div class="col s4 center-align">
                        <strong>Birthdate: </strong>
                        <span>{{playerData.birthDate}}</span>
                    </div>
                </div>
            </div>
            <div class="row shortRow center-align">
                <div class="col s12 center-align activator mh">
                    <span class="mh">
                        <i class="material-icons activator medium center-align fwLight">expand_less</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-action sticky-action">
        <div class="row shortRow">
            <div class="col s12 center-align">
                <a class="btn waves-effect modal-trigger" data-target="modal{{playerData.id}}"> Player Details</a>
            </div>
        </div>
    </div>
    <div class="card-reveal">
        <div class="row shortRow">
            <div class="col s11">
                <div class="row shortRow">
                    <div class="col s2">
                        <div class="playerNumber flow-text">{{playerData.jerseyNumber}}</div>
                    </div>
                    <div class="col s1">
                    </div>
                    <div class="col s9 pName">
                        <div class="row fnrow shortRow">
                            <div class="firstName flow-text">{{playerData.firstName}}</div>
                        </div>
                        <div class="row lnrow shortRow">
                            <div class="lastName flow-text">{{playerData.lastName}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 center-align">
                <div class="card-title center-align grey-text text-darken-4">
                    <i class="material-icons center-align ">expand_more</i>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <table class="statRow">
            <thead>
                <tr>
                    <th>Season</th>
                    <th>GP</th>
                    <th>G</th>
                    <th>A</th>
                    <th>Pt</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>17-18</td>
                    <td>82</td>
                    <td>50</td>
                    <td>20</td>
                    <td>70</td>
                </tr>
                <tr>
                    <td>Career</td>
                    <td>666</td>
                    <td>600</td>
                    <td>66</td>
                    <td>666</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{!-- modal --}}
<div id="modal{{playerData.id}}" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col l4 center-align">
                <img src="{{playerData.officialImageSrc}}" width="250px"></img>
                <h4 class="">{{playerData.firstName}} {{playerData.lastName}} - {{playerData.jerseyNumber}}</h4>
                <div class="container">
                    <div><strong>Height:</strong> {{playerData.height}}</div>
                    <div><strong>Weight:</strong> {{playerData.weight}}</div>
                    <div><strong>Primary Position:</strong> {{playerData.position}} </div>
                </div>
            </div>
            <div class="col l8 center-align">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s3"><a href="#general{{playerData.id}}" class="active">General</a></li>
                            <li class="tab col s3 {{#if playerData.draftOverall}}{{else}}disabled{{/if}}"><a href="#draft{{playerData.id}}">Draft</a></li>
                            <li class="tab col s3 {{#if playerData.baseSalary}}{{else}}disabled{{/if}}"><a href="#contract{{playerData.id}}">Contract</a></li>
                            <li class="tab col s3 {{#if playerData.socialMediaAccount}}{{else}}disabled{{/if}}"><a href="#social{{playerData.id}}">Social</a></li>
                        </ul>
                    </div>
                    <div id="general{{playerData.id}}" class="col s12">
                        <div id="general{{playerData.id}}" class="col s12">
                            <div class="row">
                                <div class="p10">
                                    <div class="col left-align l6">
                                        <ul>
                                            <li><strong>Birth Date:</strong> {{playerData.birthDate}}</li>
                                            <li><strong>Age: </strong>{{playerData.age}}</li>
                                            <li><strong>Current Injuries:</strong> {{playerData.currentInjury}}</li>
                                            <li><strong>Birth City: </strong>{{playerData.birthCity}}</li>
                                            <li><strong>Birth Country:</strong> {{playerData.birthCountry}}</li>
                                        </ul>
                                    </div>
                                    <div class="col left-align l6">
                                        <ul>
                                            <li><strong>Twitter: </strong>{{playerData.twitter}}</li>
                                            <li><strong>College: </strong> {{playerData.college}}</li>
                                            <li><strong>Rookie: </strong> {{playerData.rookie}}</li>
                                        </ul>
                                    </div>

                                    <div class="col l12">
                                        <a href="https://www.nhl.com/player/{{playerData.extPlayerID}}" target="_blank">View
                                            NHL Player Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="draft{{playerData.id}}" class="col s12">
                        <div class="row">
                            <div class="p10">
                                {{#if playerData.draftOverall}}
                                <div class="col l6">
                                    <ul>
                                        <li><strong>Draft Year: </strong> {{playerData.draftYear}}</li>
                                        <li><strong>Draft Team: </strong> {{playerData.draftTeam}}</li>
                                        <li><strong>Overall: </strong> {{playerData.draftOverall}}</li>
                                    </ul>
                                </div>
                                <div class="col l6">
                                    <ul>
                                        <li><strong>Round Picked: </strong> {{playerData.draftRound}}</li>
                                        <li><strong>Round Pick #: </strong> {{playerData.draftPick}}</li>
                                    </ul>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div id="contract{{playerData.id}}" class="col s12">
                        <div class="row">
                            <div class="p10">
                                {{#if playerData.baseSalary}}
                                <div class="col l6">
                                    <div><strong>Current Year:</strong></div>
                                    <ul>

                                        <li><strong>Base Salary:</strong> {{playerData.baseSalary}}</li>
                                        <li><strong>Minor Salary:</strong> {{playerData.minorsSalary}}</li>
                                        <li><strong>Signing Bonus:</strong> {{playerData.signingBonus}}</li>
                                        <li><strong>NTC:</strong> {{playerData.fullNoTradeClause}}</li>

                                    </ul>
                                </div>
                                <div class="col l6">
                                    <div><strong>Total Contract:</strong></div>
                                    <ul>
                                        <li><strong>Total Years:</strong> {{playerData.overallTotalYears}}</li>
                                        <li><strong>Total Salary:</strong> {{playerData.overallTotalSalary}}</li>
                                        <li><strong>Overall Annual Average Salary:</strong> {{playerData.overallAnnualAverageSalary}}</li>
                                    </ul>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div id="social{{playerData.id}}" class="col s12">
                        <a class="twitter-timeline" data-height="400" href="https://twitter.com/{{playerData.socialMediaAccount}}?ref_src=twsrc%5Etfw">Tweets
                            by {{playerData.socialMediaAccount}}</a>
                        {{!--
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves btn-flat">Close</a>
    </div>
</div>