<div class="card no-pad-top sticky-action pad3 hide-on-med-and-down zno">
    <div class="">
        <div class="card-content">
            <div class="row shortRow">
                <div class="col s2">
                    <div class="playerNumber flow-text">{{playerData.jerseyNumber}}</div>
                </div>
                <div class="col s1">
                </div>
                <div class="col s7 pName">
                    <div class="row fnrow shortRow">
                        <div class="firstName flow-text">{{playerData.firstName}}</div>
                    </div>
                    <div class="row lnrow shortRow">
                        <div class="lastName flow-text">{{playerData.lastName}}</div>
                    </div>
                </div>
                <div class="col s2">
                    <div class="row shortRow">
                        <div class="capt flow-text"></div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row shortRow">
                <div class="statRow">
                    <div class="col s6 center-align flow-text">
                        <span>{{playerData.birthCity}}</span>,
                        <span class="truncate">{{playerData.birthCountry}}</span>
                    </div>
                    <div class="col s6 center-align flow-text">
                        <span>{{playerData.height}}</span> -
                        <span>{{playerData.weight}}</span> lb
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="statRow">
                    <div class="col s4 center-align">
                        <strong>Shoots: </strong>
                        <span>{{playerData.handedness}}</span>
                    </div>
                    <div class="col s4 center-align">
                        <strong>Age: </strong>
                        <span>{{playerData.age}}</span>
                    </div>
                    <div class="col s4 center-align">
                        <strong>Birthdate: </strong>
                        <span>{{playerData.birthDate}}</span>
                    </div>
                </div>
            </div>
            <div class="row shortRow center-align">
                <div class="col s12 center-align activator mh">
                    <span class="mh">
                        <i class="material-icons activator medium center-align fwLight">expand_less</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-action sticky-action">
        <div class="row shortRow">
            <div class="col s12 center-align">
                <a class="btn waves-effect modal-trigger" data-target="modal{{playerData.id}}"> Player Details</a>
            </div>
        </div>
    </div>
    <div class="card-reveal">
        <div class="row shortRow">
            <div class="col s11">
                <div class="row shortRow">
                    <div class="col s2">
                        <div class="playerNumber flow-text">{{playerData.jerseyNumber}}</div>
                    </div>
                    <div class="col s1">
                    </div>
                    <div class="col s9 pName">
                        <div class="row fnrow shortRow">
                            <div class="firstName flow-text">{{playerData.firstName}}</div>
                        </div>
                        <div class="row lnrow shortRow">
                            <div class="lastName flow-text">{{playerData.lastName}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 center-align">
                <div class="card-title center-align grey-text text-darken-4">
                    <i class="material-icons center-align ">expand_more</i>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <table class="statRow">
            <thead>
                <tr>
                    <th>Season</th>
                    <th>GP</th>
                    <th>G</th>
                    <th>A</th>
                    <th>Pt</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>17-18</td>
                    <td>82</td>
                    <td>50</td>
                    <td>20</td>
                    <td>70</td>
                </tr>
                <tr>
                    <td>Career</td>
                    <td>666</td>
                    <td>600</td>
                    <td>66</td>
                    <td>666</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{!-- modal --}}
<div id="modal{{playerData.id}}" class="modal">
    <div class="modal-content">
        <h4>{{playerData.firstName}} {{playerData.lastName}}</h4>
        <div class="container">
            <div class="row">
                <div class="col l6">
                    <ul>
                        <li><strong>Height:</strong> {{playerData.height}}</li>
                        <li><strong>Weight:</strong> {{playerData.weight}}</li>
                        <li><strong>Primary Position:</strong> {{playerData.officialPosition}}</li>
                        <li><strong>Jersey Number:</strong> {{playerData.jerseyNumber}}</li>
                        <li><strong>Birth Date:</strong> {{playerData.birthDate}}</li>
                        <li><strong>Age: </strong>{{playerData.age}}</li>
                    </ul>
                </div>
                <div class="col l6">
                    <ul>
                        <li><strong>Current Injuries:</strong> {{playerData.currentInjury}}</li>
                        <li><strong>Birth City: </strong>{{playerData.birthCity}}</li>
                        <li><strong>Birth Country:</strong> {{playerData.birthCountry}}</li>
                        <li><strong>Twitter: </strong>{{playerData.twitter}}</li>
                        <li><strong>College:</strong> {{playerData.college}}</li>
                        <li><strong>Rookie?:</strong> {{playerData.rookie}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves btn-flat">Close</a>
    </div>
</div>