<div class="row z">
    <div id="myTabs">
        <div class="col s12 pt3 hide-on-med-and-down" id="">
            <ul class="tabs">
                <li class="tab col s6"><a href="#homeTeam"><h5>{{ht.team.city}} {{ht.team.name}}</h5> </a></li>
                <li class="tab col s6"><a href="#awayTeam"><h5>{{at.team.city}} {{at.team.name}}</h5></a></li>
            </ul>
        </div>
        <div class="col s12 pt3 hide-on-large-only" id="">
            <ul class="tabs">
                <li class="tab col s6"><a href="#homeTeam"><h5>{{ht.team.name}}</h5> </a></li>
                <li class="tab col s6"><a href="#awayTeam"><h5>{{at.team.name}}</h5></a></li>
            </ul>
        </div>
    </div>
    <div class="content zno">
        <div id="homeTeam" class="col s12">
            {{>ht-block}}
        </div>
        {{!-- Away Team Tab --}}
        <div id="awayTeam" class="col s12">
            {{>at-block}}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="../js/game.js"></script>